socketpath = "/tmp/.taskmaster.sock"

authgroup = "winstonallo"

[processes.sleep]

cmd = "/usr/bin/sleep"
args = ["1"]
processes = 1
umask = "022"
workingdir = "/tmp"
autostart = true
autorestart = "always"
backoff = 1
exitcodes = [0, 2]
startretries = 3
starttime = 1
[processes.sleep.healthcheck]
cmd = "/usr/bin/sleep"
args = ["2"]
timeout = 1
retries = 3

stopsignals = ["TERM", "USR1"]
stoptime = 5
stdout = "/tmp/ls.stdout"
stderr = "/tmp/ls.stderr"
env = [["STARTED_BY", "abied-ch"], ["ANSWER", "42"]]
